---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face { font-family: "Bold"; src: url(../fonts/Bold.otf); }
@font-face { font-family: "Semibold"; src: url(../fonts/Semibold.otf); }
@font-face { font-family: "Regular"; src: url(../fonts/Regular.otf); }
@font-face { font-family: "Light"; src: url(../fonts/Light.otf); }


// Our variables
$base-font-family: Karla;
$base-font-size:   16px;
$base-line-height: 1.5em;
$base-font-weight: 400;
$bold-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$width: 800px;
$postPadding: 40px;

//fontsize
$h1: 30px; $h1color: #333;
$h2: 25px; $h2color: #44484a;
$h3: 21px; $h3color: #7C7E80;
$large: 19px; $largecolor: #656674;
$regular: 17px; $regularcolor: #B4B5B6;
$small: 14px; $smallcolor: #C6C8C8;
$micro: 8px; $microcolor: black;
$link: #2b6dad;

//border
$border: 1px solid #D9DADA;

//banner
$base-img-width: 300px;
$spacing-unit:     30px;
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "blog"
;
