/** Light */
@font-face {
  font-family: "Bold";
  src: url("fonts/Bold.ttf");
}

/** Regular */
@font-face {
  font-family: "Medium";
  font-weight: 400;
  src: url("fonts/Medium.ttf");
}

/** Bold */
@font-face {
  font-family: "Regular";
  font-weight: 700;
  src: url("fonts/Regular.ttf");
}

p {
  font-family: Regular; 
  color: black;
}

div.link {
  color: #adadad;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

div.link:hover {
  color: #333;
}

.title {
  color: #333;
  font-family: Bold;
  font-size: 2em;
}

.text {
  color: #666;
  font-family: Regular;
  line-height: 1.5em; 
  max-width: 300px;
  text-align: left;
  font-size: 18px;
}