/** Light */
@font-face {
  font-family: "Calibre";
  font-weight: 100;
  src: url("fonts/Light.ttf");
}

/** Regular */
@font-face {
  font-family: "Calibre";
  font-weight: 400;
  src: url("fonts/Regular.ttf");
}

/** Bold */
@font-face {
  font-family: "Calibre";
  font-weight: 700;
  src: url("fonts/Medium.ttf");
}

* {
  font-family: "Calibre";
}

p {
  font-weight: 400;
  color: #1c1c1c;
  font-size: 1.5em;
}
h6 {
  font-weight: 400;
  color: #9b9b9b;
  font-size: 1.2em;
}
h3 {
  font-weight: 700;
  color: #184867;
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: #232323;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  margin-right: 7px;
  margin-top: 8px;
}
a:hover {
  text-decoration: underline;
}
