/** Light */
@font-face {
  font-family: "Bold";
  src: url("fonts/Bold.ttf");
}

/** Regular */
@font-face {
  font-family: "Medium";
  font-weight: 400;
  src: url("fonts/Medium.ttf");
}

/** Bold */
@font-face {
  font-family: "Regular";
  font-weight: 700;
  src: url("fonts/Regular.ttf");
}

p {
  font-family: Regular; 
  color: black;
}

a {
  font-family: Regular;
  display: block;
}

a.link, p.link {
  color: #adadad;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  text-decoration: none;
}

a.link:hover, p.link:hover {
  color: #333;
  cursor: pointer;
}



.title {
  color: #333;
  font-family: Bold;
  font-size: 2em;
}

.text {
  color: #666;
  font-family: Regular;
  line-height: 1.5em; 
  text-align: left;
  font-size: 18px;
}

.text-small {
  color: #666;
  font-family: Regular;
  line-height: 2em;
  font-size: 16px;
}

p.work-title {
  color: #444;
  font-family: Bold;
  text-align: left; 
  font-size: 25px;
}

p.work-sub {
  color: #666;
  font-family: Medium;
  text-align: left; 
  font-size: 18px;
}

a.scroll-select, p.scroll-select {
  color: #333;
  font-family: Medium;
}

.log {
  text-decoration: none;
}