@font-face {font-family: Regular; src: url(fonts/Karla-Regular.ttf);}
@font-face {font-family: Bold; src: url(fonts/Karla-Bold.ttf);}

* {
	padding: 0px;
	margin: 0px;
}
body {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}
a {
	color: #5ba7c2;
}
.container {
	padding: 10px;
}
.experiences {
	margin: 10px 0px 10px 0px;
}
.Header {
	padding: 10px;
	border-bottom: 1px solid #EBEBEB;
	display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    max-width: 800px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
}
.Header .inbox {
	vertical-align: middle;
}

.Logo {
	font-size: 25px;
	font-family: Regular;
}

.Nav {
	font-size: 15px;
	font-family: Bold;
}
.Nav:hover {
	text-decoration: underline;
	cursor: pointer;
}
.paragraph {
	max-width: 600px;
}
.paragraph p {
	line-height: 1.5em;
}
.Title1 {
	font-family: Bold;
	font-size: 44px;
	color: black;
}
.Title2 {
	font-family: Bold;
	font-size: 32px;
	color: #333;
}
.Title3 {
	font-family: Regular;
	font-size: 24px;
	color: #656674;
}
.Large {
	font-family: Regular;
	font-size: 19px;
}
.Regular {
	font-family: Regular;
	font-size: 17px;
	color: #ABABAB;
}
.Small {
	font-family: Regular;
	font-size: 14px;
}
.Micro {
	font-family: Regular;
	font-size: 8px;
}
.padding5 {
	padding: 5px 0px 5px 0px;
}
.borderBottom {
	border-bottom: 1px solid #EBEBEB;
}
.content {
}
.content p, .content img{
	display: inline-block;
	vertical-align: middle;
}
.prgImg {
	width: 15px;
	padding-right: 3px;
}