---
layout: default
---

<div class="home">
  <div class="post-list padding80">
    <div class = "padding10">
      <h1>Platforms</h1>
    </div>
    {% for post in site.categories['platforms'] %}
      <div class = "articleContainer">
        <h3><a href="{{ post.url | prepend: site.baseurl }}" class = "aLinkNone">{{ post.title }}</a></h3>
        <p class="small">{{ post.date | date: "%b %-d, %Y" }}</p>
        <p class = "regular">{{ post.summary }}</p>
      </div>
    {% endfor %}

    <div class = "padding10">
      <h1>Projects</h1>
    </div>
    {% for post in site.categories['projects'] %}
      <div class = "articleContainer">
        <h3><a href="{{ post.url | prepend: site.baseurl }}" class = "aLinkNone">{{ post.title }}</a></h3>
        <p class="small">{{ post.date | date: "%b %-d, %Y" }}</p>
        <p class = "regular">{{ post.summary }}</p>
      </div>
    {% endfor %}


  </div>
</div>
