@font-face {font-family: Regular; src: url(fonts/HelveticaNeue-Light.otf);}
@font-face {font-family: Bold; src: url(fonts/HelveticaNeue.ttf);}
@font-face {font-family: Proxima-Black; src: url(fonts/PNBLACK.otf);}
@font-face {font-family: Proxima-Bold; src: url(fonts/PNBOLD.otf);}
@font-face {font-family: Proxima-Light; src: url(fonts/PNLIGHT.otf);}
@font-face {font-family: Proxima-Regular; src: url(fonts/PNREGULAR.otf);}
@font-face {font-family: Proxima-SemiBold; src: url(fonts/PNSEMIBOLD.otf);}
@font-face {font-family: Dojo; src: url(fonts/CO.ttf);}

body, html
{
	margin: 0px; 
	padding: 0px; 
	background-color: #1d2024; 
	padding-top: 5%; 
}

h1
{
	font-family: Bold; 
}

h4
{
	font-family: Proxima-Light; 
}


#minu-bio
{
	text-align: center;
	font-size: 2em; 
	color: rgba(255, 255, 255, 0.5);
	font-weight: lighter;
}

#minu-bio-content
{
	text-align: center;
	font-size: 1.5em; 
	color: rgba(255, 255, 255, 0.5);
	font-weight: lighter;
}