* {
  margin: 0px;
  padding: 0px;
}
html {
  background: #141414;
}
body {
  margin: 0 auto;
  max-width: 600px; 
  padding: 50px;
}

.bio-pic {
	width: 130px;
	height: 130px;
	object-fit: cover;
	border-radius: 130px;
	text-align: center;
}

.banner-me {
	margin: 0 auto;
	text-align: center;
}

.split {
	margin: 0 auto;
}

h3 {
	color: #2EF3C7;
}

.name {
	color: white;
}