* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar { 
    display: none; 
}

.wrapper {
	width: 100%;
    height: 84px;
    z-index: 99; 
    background-color: white;
    position: fixed;
}

.contents {
	padding: 90px 0px;
	position: relative;
}

.header {
	max-width: 900px; 
	margin: 0 auto;
	padding: 25px;
}

.max-content {
	max-width: 900px; 
	margin: 0 auto;
}

.header > * {
	display: inline-block;
	vertical-align: middle;
}

.side_nav {
	display: inline-block;
	vertical-align: middle;
	float: right;
	position: relative;
	top: 7px;
}


.sidebar_element {
	display: inline-block;
	vertical-align: middle;
	font-family: Regular; 
	margin-left: 25px;
	text-decoration: none;
}
.sidebar_element:hover {
	cursor: pointer;
}
.weight {
	position: fixed;
	position: fixed;
    left: 0;
    right: 0;
}

.text-content {
	padding: 30px;
	max-width: 300px;
}

.bio {
	padding: 50px 0px;
}

.bio > div,img {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.bio-img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 50%;
}

.border {
	padding: 5px;
	background-color: white; 
	border: 2px solid black;
}

.mail-note {
	padding: 10px 20px;
	border: none;
	font-family: Regular;
	font-size: 1em;
	color: #606060;
	background-color: #dddddd;
	border-radius: 2px;
}

.mail-note:hover {
	background-color: #4c4c4c;
	color: white;
	cursor: pointer;
}

.filler {
	height: 3000px;
}

.about {
  display: table;
  margin: 40px 0px;
}

.projects_panel {
	display: block;
    position: absolute;
    max-width: none;
    left: calc((100% - 900px)/2);
    right: 0;
    margin: 20px 0px;
    overflow-x: scroll;
    padding: 20px;
    background-color: #fbfbfb;

}

#ck12 {
	border-bottom: none;
}

.about > p {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
}

.about > .title {
	display: table-cell;
	min-width: 200px; 
}

.about > .text {
	display: table-cell;
	max-width: auto; 
	line-height: 1.8em;
}


.segment > .options {
	margin-left: 35px; 
	margin-top: 15px;
	font-size: 1.3em;
}



.work-element {
	margin-bottom: 35px; 
	padding-bottom: 25px;
	border-bottom: 1px solid #d1d1d1;

}

.sub-padding {
	margin: 7px 0px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.wrap {
  height: auto;
  margin-bottom: auto;
  margin: 40px 0px;
  position: relative;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 35px;
}

.temp {
  position: fixed;
  bottom: 50px;
  height: 50px;
  width: 60px;
}

.bottom_parr {
	bottom: 20px !important;
	top: auto !important;
}

.bottom {
  position: absolute !important;
  bottom: 100px !important;
  top: auto !important;
}

.work-story {
	min-width: 200px;
	position: fixed;
  	top: 150px;
}

.work-story, .container {
	display: inline-block;
	vertical-align: text-top;
}

.container {
	margin-left: 200px;
}

.top {
	position: absolute !important; 
	top: 0px;
}

.projects_ {
	white-space: nowrap;
}

.project_card {
	background-color: white; 
	border: 1px solid #e4e4e4;
	width: calc((100%)/2); 
	border-radius: 1px;
	display: inline-block;
	margin-right: 10px;
	padding: 30px;
	vertical-align: top;
	height: 250px;
	position: relative;
}

.proj-title {
	font-family: Medium; 
	font-size: 2em; 
	color: #444;
	margin: 10px 0px;
}

.l-height {
	position: relative;
}

.proj-description {
	font-family: Regular; 
	font-size: 1em; 
	color: #b5b5b5;
	margin-bottom: 10px;
	line-height: 2em;
	white-space: normal;
	margin-top: 20px;
}

.report_cards {
	display: inline-block;
    margin: 15px 0px;
    margin-right: 3px;
    border-radius: 20px;
    border: 2px solid #b5b5b5;
    vertical-align: middle;
    padding: 2px 18px;
    padding-left: 10px;
}

.report_cards:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.octo {
	width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.pr {
	display: inline-block;
	vertical-align: middle;
}

.header_inl {
	display: inline-block;
}

.fl- {
	display: inline-block;
	float: right;
    position: relative;
    top: -1px;
}

.meta_info {
	padding-top: 420px;
}

.table_links {
	padding: 20px 0px;
	display: table;
	width: 100%;
}

.link_cat {
	display: table-cell;
	max-width: 300px; 
	padding: 30px;
	padding-left: 0px;
}

.link_cat > .header_ {
	font-family: Bold;
	color: #adadad;
	margin-bottom: 15px;
	font-size: 20px;
}