* {
  margin: 0px;
  padding: 0px;
}

.header {
	max-width: 900px; 
	margin: 0 auto;
	padding: 25px;
}

.header > * {
	display: inline-block;
	vertical-align: middle;
}

.side_nav {
	display: inline-block;
	vertical-align: middle;
	float: right;
	position: relative;
	top: 7px;
}


.sidebar_element {
	display: inline-block;
	vertical-align: middle;
	font-family: Regular; 
	margin-left: 25px;
}
.sidebar_element:hover {
	cursor: pointer;
}
.weight {
	position: fixed;
	position: fixed;
    left: 0;
    right: 0;
}

.text-content {
	padding: 30px;
}

.bio {
	padding: 50px 0px;
}

.bio > div,img {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.bio-img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 50%;
}

.border {
	padding: 5px;
	background-color: white; 
	border: 2px solid black;
}

.mail-note {
	padding: 10px 20px;
	border: none;
	font-family: Regular;
	font-size: 1em;
	color: #606060;
	background-color: #dddddd;
	border-radius: 2px;
}

.mail-note:hover {
	background-color: #4c4c4c;
	color: #e5e5e5;
	cursor: pointer;
}


