* {
	padding: 0px; 
	margin: 0px;
	background-color: #F4F7F7;
}

html, body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 0px;
}

h1 {
	font-family: GrotesqueMedium;
	font-size: 1.5em;
	color: #37454A;
}


p {
	font-family: Body; 
	font-size: 1.4em;
	color: #1B2F36;
	line-height: 1.8em;
}

.sub {
	font-family: Medium;
	font-size: 0.7em;
	margin: 0px 10px;
}

.text {
	max-width: 800px;
}

.padding {
	padding: 15px 0px;
}

a {
	color: #1B2F36;
	text-decoration: underline; 
}

a:hover {
	color: #609dff;
	cursor: pointer;
}

.code {
	border-radius: 3px; 
	border: 3px solid #6d54ff;
	color: #6d54ff;
	background-color: none; 
	font-family: "Medium";
	font-size: 1em;
	padding: 5px 10px;
	transition: background-color 0.2s ease;
	display: inline-block;
	float: right;
}

.priv {
	color: #e53939;
	font-family: "Medium";
	font-size: 1em;
	display: inline-block;
	float: right;
	position: relative;
	top: 8px;
	right: 8px
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

.code:hover {
	background-color: #6d54ff; 
	color: white;
	cursor: pointer;
}

.bt-bottom {
	border-bottom: 1px solid #eaeaea; 
}

.img {
	width: 35px;
	margin-right: 10px;
}

@font-face { font-family: GrotesqueMedium; src: url(fonts/Brandon_med.otf); }
@font-face { font-family: Body; src: url(fonts/Body.ttc); }
@font-face { font-family: Medium; src: url(fonts/Medium.ttf); }


