* {
	padding: 0px; 
	margin: 0px;
}

html, body {
	max-width: 800px;
	margin: 0 auto;
	background-color: white;
}

body {
	padding: 50px 0px;

	background-color: white;
}

@font-face { font-family: med; src: url(fonts/med.ttf); }
@font-face { font-family: reg; src: url(fonts/reg.ttf); }


h1, h2, h3, h4, h5, h6 {
	font-family: med; 
}

h3 {
	font-size: 1.5em;
	color: black;
}

h6 {
	font-size: 1em;
	color: black;
}

p {
	font-family: reg;
	font-size: 1.1em;
	color: gray;
}

.large {
	font-size: 1.9em;
	color: #B5B5B5;
}

.small {
	font-size: 1em;
	color: #333;
}

.center {
	text-align: center;
}

.paper {
	padding: 20px 30px;
}

.padding {
	padding: 5px 0px;
}

.inline {
	vertical-align: middle; 
	display: inline-block;
	margin-right: 3px;
}

.circle {
	width: 4px;
	height: 4px;
	border-radius: 10px; 
	background-color: #B5B5B5;
	display: inline-block;
	position: relative;
	top: 1px;
}

a {
	text-decoration: none; 
	color: #2e75e8;
}

a:hover {
	text-decoration: underline;
}

.lh {
	line-height: 2em;
}

.center-uniq {
	text-align: center;
	padding: 10px 0px;
}

