/** Light */
@font-face {
  font-family: "Bold";
  src: url("fonts/Bold.ttf");
}

/** Regular */
@font-face {
  font-family: "Medium";
  font-weight: 400;
  src: url("fonts/Medium.ttf");
}

/** Bold */
@font-face {
  font-family: "Regular";
  font-weight: 700;
  src: url("fonts/Regular.ttf");
}

.mail-note {
  padding: 10px 20px;
  border: none;
  font-family: Regular;
  font-size: 1em;
  color: #606060;
  background-color: #dddddd;
  border-radius: 2px;
}


.segment > .options {
  margin-left: 35px; 
  margin-top: 15px;
  font-size: 1.3em;
}

.proj-title {
  font-family: Medium; 
  font-size: 2em; 
  color: #444;
  margin: 10px 0px;
}

.proj-description {
  font-family: Regular; 
  font-size: 1em; 
  color: #b5b5b5;
  margin-bottom: 10px;
  line-height: 2em;
  white-space: normal;
  margin-top: 20px;
}


.link_cat > .header_ {
  font-family: Bold;
  color: #adadad;
  margin-bottom: 15px;
  font-size: 20px;
}

.link_cat > a {
  font-family: Regular; 
  color: #c1c1c1;
  font-size: 18px;
  margin: 10px 0px;
  text-decoration: none;
  display: inline-block;
    margin-right: 20px;
}

p {
  font-family: Regular; 
  color: black;
}

a {
  font-family: Regular;
  display: block;
}

a.link, p.link {
  color: #adadad;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  text-decoration: none;
}

a.link:hover, p.link:hover {
  color: #333;
  cursor: pointer;
}



.title {
  color: #333;
  font-family: Bold;
  font-size: 2em;
}

.text {
  color: #666;
  font-family: Regular;
  line-height: 1.5em; 
  text-align: left;
  font-size: 18px;
}

.text-small {
  color: #666;
  font-family: Regular;
  line-height: 2em;
  font-size: 16px;
}

p.work-title {
  color: #444;
  font-family: Bold;
  text-align: left; 
  font-size: 25px;
}

p.work-sub {
  color: #666;
  font-family: Medium;
  text-align: left; 
  font-size: 18px;
}

a.scroll-select, p.scroll-select {
  color: #333;
  font-family: Medium;
}

.log {
  text-decoration: none;
}


@media (max-width: 1080px) {
  .title {
    color: #333;
    font-family: Bold;
    font-size: 1.7em;
  }

  .text {
    color: #666;
    font-family: Regular;
    line-height: 1.5em; 
    text-align: left;
    font-size: 13px;
  }

  .text-small {
    color: #666;
    font-family: Regular;
    line-height: 2em;
    font-size: 13px;
  }

  p.work-title {
    color: #444;
    font-family: Bold;
    text-align: left; 
    font-size: 20px;
  }

  p.work-sub {
    color: #666;
    font-family: Medium;
    text-align: left; 
    font-size: 15px;
  }

  .mail-note {
    font-size: 0.8em;
  }

  .segment > .options {
    font-size: 1em;
  }

  .proj-title {
    font-size: 1.6em;
  }

  .proj-description {
    font-size: 0.8em;
  }

  .link_cat > .header_ {
    font-size: 16px;
  }

  .link_cat > a {
    font-size: 14px;
  }
}

@media (max-width: 810px) {
  .text {
      color: #666;
      font-family: Regular;
      line-height: 1.3em !important; 
      text-align: left;
      font-size: 13px;
    }
  .text-small {
    line-height: 1.3em !important; 
  }
  .proj-description {
    line-height: 1.5em !important;
  }
}