/** Light */
@font-face {
  font-family: "Calibre";
  font-weight: 100;
  src: url("Light.ttf");
}

/** Regular */
@font-face {
  font-family: "Calibre";
  font-weight: 400;
  src: url("Regular.ttf");
}

/** Bold */
@font-face {
  font-family: "Calibre";
  font-weight: 700;
  src: url("Medium.ttf");
}

html, body {
	margin: 0px;
	padding: 0px;
	max-width: 900px;
	margin: 0 auto;
	padding: 40px 0px;
	text-align: center;
	background-color: #fafafa;

}

* {
	font-family: "Calibre";
	margin: 0px;
}

h1 {
	font-weight: 700;
	color: #333;
	font-size: 3em;
}

h2 {
	font-weight: 400;
	color: #666666;
	font-size: 2em;
	margin: 20px 0px;
}

p {
	font-weight: 400;
	color: #333;
}

#enter, #enter>* {
	background-color: white;
}

.containers {

}

.company {
	display: table;
	width: 100%;
}

.company>div {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	background-color: white;
	padding: 20px;
	margin: 5px;
	width: 250px;
	height: 150px;
	position: relative;

}

img {
	width: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.apple {
	width: 90px;
}

.google {
	width: 90px;
}

.ycomb {
	width: 90px;
}

.e3 {
	width: 90px;
}

.airbnb {
	width: 160px;
}

#apple:hover {
	background-color: #ededed;
}

#facebook:hover {
	background-color: #e2f1ff;
}

#google:hover {
	background-color: #7fb8ff;
}

#airbnb:hover {
	background-color: #ffe5f9;
}

#salesforce:hover {
	background-color: #e2faff;
}

#e3:hover {
	background-color: #ffecdb;
}

#samsung:hover {
	background-color: #d8e4ff;
}

#twilio:hover {
	background-color: #ffd4d1;
}

#ycomb:hover {
	background-color: #ffe4c1;
}

.list {
	padding: 20px 0px;
}

.item {
	margin: 10px 0px;
	background-color: white;
	padding: 10px 5px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
}

.item > * {
	display: inline;
	vertical-align: middle;
}

.number {
	font-weight: 700;
	color: #333;
	font-size: 1.1em;
}

.sub {
	font-weight: 100;
	color: #666666;
	font-size: 1.5em;
}

.title {
	color: #4386f2;
	font-weight: 400;
	font-size: 1.5em;
	text-decoration: underline;
}

table {
	width: 100%;
	margin: 30px 0px;
}

tr {
	text-align: left;
	line-height: 3em;
}

td {
	text-align: left;
}

.header {
	font-size: 1.5em;
	color: #444444;
}

.row {
	border-spacing:5em;
}

@media (min-width: 700px) and (max-width: 899px) {
	html, body {
		max-width: 700px;

	}
    h1 {
		font-weight: 700;
		color: #333;
		font-size: 2em;
	}

	h2 {
		font-weight: 400;
		color: #666666;
		font-size: 1.5em;
		margin: 20px 0px;
	}

	p {
		font-weight: 400;
		color: #333;
	}

	.inner {
		background-color: white;
		padding: 10px;
		margin: 5px;
		width: 200px;
		height: 130px;
		position: relative;

	}

	img {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.apple {
		width: 90px;
	}

	.google {
		width: 90px;
	}

	.ycomb {
		width: 90px;
	}


	.airbnb {
		width: 160px;
	}
}

@media screen and (max-width: 699px) {
	html, body {
		max-width: 700px;

	}
    h1 {
		font-weight: 700;
		color: #333;
		font-size: 2em;
	}

	h2 {
		font-weight: 400;
		color: #666666;
		font-size: 1.2em;
		margin: 20px 0px;
	}

	p {
		font-weight: 400;
		color: #333;
	}


	img {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.apple {
		width: 90px;
	}

	.google {
		width: 90px;
	}

	.ycomb {
		width: 90px;
	}


	.airbnb {
		width: 160px;
	}

	.company {
		display: block;
		width: 100%;
	}

	.company>div {
		vertical-align: middle;
		display: block;
	}

	.inner {
		background-color: white;
		width: 100%;
		padding: 0px;
		margin: 0px;
		margin: 5px 0px;
		height: 150px;
		position: relative;

	}

	.sub {
		font-weight: 100;
		color: #666666;
		font-size: 1em;
	}

	.title {
		color: #4386f2;
		font-weight: 400;
		font-size: 1em;
		text-decoration: underline;
	}



}


.share {
	margin: 30px 0px;
}