/** Light */
@font-face {
  font-family: "Bold";
  src: url("../fonts/Bold.ttf");
}

/** Regular */
@font-face {
  font-family: "Italic";
  font-weight: 400;
  src: url("../fonts/Italic.ttf");
}

/** Bold */
@font-face {
  font-family: "Regular";
  font-weight: 700;
  src: url("../fonts/Regular.ttf");
}

.logo {
	text-transform: uppercase;
    letter-spacing: .5em;
    color: #000;
    font-family: Regular,monospace;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.nav-font {
	color: #666;
	font-size: 12px;
	font-family: Regular,monospace;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	background: white;
}

.nav-font:hover {
	color: #000;
	cursor: pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	  /* ...and now for the proper property */
  	transition:.5s;
	text-decoration: none;	
	background-color: white;
}

.body-text {
	font-family: Regular; 
	text-align: left;
	line-height: 2em;
	color: #333;
	font-size: 1em;
}

.header-text {
	font-family: Bold;
	text-align: left;
	color: #222;
	font-size: 1.1em;
	text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 2em;
    padding-bottom: 15px;
}


.job-link {
	font-family: Italic;
	font-size: 1em;
}

.sub-text {
	font-size: 0.8em;
	color: #666666;
	font-family: Regular
}

.writing-link {
	font-family: Italic; 
	font-size: 1em;
}

.writing-link:hover {
	background-color: #e5ffe8;
}